<div class="card">
  <h3 class="card-header">Exchange</h3>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <p>current status</p>
      </div>
      <div class="col-sm-6">
        <button type="button" class="btn btn-block btn-outline-success">On</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <p>update frequency</p>
      </div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-outline-success">On</button>
      </div>
    </div>
  </div>
</div>
