<%= render 'nav' %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <%= render 'brokers' %>
    </div>
    <div class="col-sm-4">
      <%= render 'exchange' %>
    </div>
  </div>
</div>
