<div class="table-responsive">
  <table class="table-hover">
    <tr>
      <td>Name
      <td>Token
      <td>Cash
      <td>Holdings
    </tr>
    <% Broker.all.each do |b| %>
      <tr>
        <td><%=b.name%>
        <td><%=b.token%>
        <td><%=b.cash%>
        <td><%=b.holding_value%>
      </tr>
    <% end %>
  </table>
</div>
