<% @page_title = "Stock Bots" %>
<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="display-3">StockDocs</h1>
    <p>Automating the next financial crisis</p>
    <p><a class="btn btn-outline-primary btn-lg" href="/">Standings</a></p>
  </div>
  <div class="markdown-wrapper">
    <%= render 'docs' %>
  </div>
</div>
