<% @page_title = "Stock Bots" %>
<div class="container">
  <h1 align="center">Stock Bots</h1>
  <div class="broker-graph">
    <%= line_chart standings_path, refresh: 60, xtitle: "Day", ytitle: "Portfolio Value($)", legend: "right" %>
  </div>
</div>
