<% @page_title = "Stock Bots" %>
<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="display-3">StockBots</h1>
    <p>Automating the next financial crisis</p>
    <p><a class="btn btn-primary btn-lg" href="https://oec2018.ca/">Learn More</a></p>
  </div>
  <h1 align="center">Market Performance</h1>
  <%= render 'market_performance' %>
  
  <h1 align="center">Broker Performance</h1>
  <%= render 'broker_performance' %>
</div>
